*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'YoungSerif-Regular';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face {
    font-family: 'Outfit-VariableFont_wght';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}


:root{
    --wenge-brown: #5F564D;
    --brandy-red: #854632;
    --white-coffee: #E3DDD7;
    --dark-raspberry: #7A284E;
    --dark-charcoal: #312E2C;
    --snow: #FFF7FB;
    --eggshell: #F3E5D7;
    --default-font: 'YoungSerif-Regular';
    --secondary-font: 'Outfit-VariableFont_wght'
}

body{

}
/* ************************** */
/* MOBILE FIRST STYLING GUIDE */
/* ************************** */


/* HEADER IMAGE */
img{
    /* max-width: 100px; */
    width: 100%;
    height: auto;
}

.headerImage{
    
}

/* MAIN CONTENT */
content .main{
    
}

/* CARD ONE */
.cardOne{
    display: flex;
    flex-direction: column;
}
.title{

}
p .description{

}
/* ......... */

/* CARD TWO */
.cardTwo{
    
}
h2 .thirdTitle{
    
}

ul .prepTime{
    
}

li .listItem{
    
}
/* ......... */

/* CARD THREE */
.cardThree{
    
}

h2 .thirdTitle{
    
}

ul .ingredients{
    
}

li .ingredientItems{
    
}
/* ......... */

/* CARD FOUR */
.cardFour{
    
}

h2 .secondTitle{
    
}

ol .instructions{
    
}

li .instructionItem{
    
}
/* ......... */

/* CARD FIVE */
.cardFive{
    
}

p .nutritionDescription{
    
}

table .nutritionTable{
    
}

tr .row{
    
}
/* ......... */