*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'YoungSerif-Regular';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face {
    font-family: 'Outfit-VariableFont_wght';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}


:root{
    --wenge-brown: #5F564D;
    --brandy-red: #854632;
    --white-coffee: #E3DDD7;
    --dark-raspberry: #7A284E;
    --dark-charcoal: #312E2C;
    --snow: #FFF7FB;
    --eggshell: #F3E5D7;
    --default-font: 'YoungSerif-Regular';
    --secondary-font: 'Outfit-VariableFont_wght'
}

body{
    margin: 0;
}
/* ************************** */
/* MOBILE FIRST STYLING GUIDE */
/* ************************** */


/* HEADER IMAGE */

.headerImage#mobile{
    display: contents;
}
.headerImage#desktop{
    display: none;
}
/* MAIN CONTENT */
.content{
    padding: 2em;    
}
img{
    /* max-width: 100px; */
    width: 100%;
    height: auto;
}

/* CARD ONE */
.cardOne{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: var(--default-font);
    font-size: 36px;
    color: var(--dark-charcoal);
    font-weight: 100;
}
p.description{
    font-family: var(--secondary-font);
    padding-block-start: 1.5rem;
    line-height: 1.5rem;
    color: var(--wenge-brown);
    padding-block-end: 1.5rem;
}
/* ......... */

/* CARD TWO */
.cardTwo{
    background-color: var(--snow);
    padding: 1.5rem;
    border-radius: .7rem;
    margin-block-end: 1.5rem;
}
h2.thirdTitle{
    font-family: var(--secondary-font);
    padding-block-end: 1rem;
    font-weight: 500;
    color: var(--dark-raspberry);
    font-size: 1.2rem;
}

ul.prepTime{
    font-family: var(--secondary-font);
    color: var(--wenge-brown);

}

li.listItem{
    font-weight: 300;
    padding-block-end: .7rem;
}
/* ......... */

/* CARD THREE */
.cardThree{
    margin-block-end: 1.5rem;
}


ul.ingredients{
    font-family: var(--secondary-font);
    padding-inline-start: 1.5rem;
}

li.ingredientItems{
    font-weight: 200;
    color: var(--wenge-brown);
    padding-block-end: .7rem;
    padding-inline-start: 1rem;
    list-style-type: unset;
}
/* ......... */

/* CARD FOUR */
.cardFour{
    padding-block-end: 1.5rem;
}

h2.secondTitle{
    font-family: var(--default-font);
    padding-block-end: 1rem;
    color: var(--brandy-red);
    font-weight: 100;
}

h2.fourthTitle{
    font-family: var(--default-font);
    padding-block-end: 1rem;
    color: var(--brandy-red);
    font-weight: 100;
}
ol.instructions{
    font-family: var(--secondary-font);
    padding-inline-start: 1.5rem;
    font-weight: 200;
    color: var(--wenge-brown);

}

li.instructionItem{
    padding-block-end: .7rem;
    padding-inline-start: 1rem;
    list-style-type: unset;
    list-style: var(--brandy-red);
}
/* ......... */
hr{
    margin-block-end: 1.5rem;
}
/* CARD FIVE */
p.nutritionDescription{
    font-family: var(--secondary-font);
    font-weight: 200;
    margin-bottom: 1rem;
}

table{
    font-family: var(--secondary-font);
    font-weight: 200;
}

td{
    width: 100%;

    
}
.border{
    border-bottom: 1px solid var(--white-coffee);
    margin-bottom: .7rem;
    margin-top: .7rem;
}
.start{
    padding: 0;
    margin: 0;
    padding-inline-start: 2rem;
    color: var(--wenge-brown);
}
.end{
    padding: 0;
    margin: 0;
    padding-inline-end: 5rem;
    color: var(--brandy-red);
}
/* ......... */

.attribution{
    font-family: var(--secondary-font);
    font-weight: 100;
    font-size: .9rem;
    margin-block-start: 5rem;
}


/* DESKTOP QUERIES */
@media (min-width: 924px) {
    body{
        max-width: 80%;
        margin:10%;
        padding: 10%;
        background-color: var(--eggshell);
    }
    .main{
        background-color: white;
        border-radius: .7rem;
    }
    .headerImage#mobile{
        display: none;
        
    }
    .headerImage#desktop{
        display: contents;
        padding-block-end: 1.5rem;
    }
    img{
        border-radius: .7rem;
    }
    .title{
        margin-block-start: 1.5rem;
    }
}
